.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @apply min-w-[21.875rem] md:min-w-[22.813rem] min-h-[15.163rem] md:min-h-[15.813rem] duration-[0.5s] transition-all;
  .element {
    grid-column: span 6;
    .title {
      @apply text-[1rem] md:text-lg font-semibold md:font-bold duration-[0.5s] transition-all;
    }
    .attribute {
      @apply text-sm md:text-[1rem] font-normal duration-[0.5s] transition-all;
    }
  }
}
